.remove-btn {
  margin-right: 0.5rem;
}
.edit-btn {
  margin-right: 01rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.purchased-item {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: bold;
  color: red;
}